<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.guangde.dao.SubjectDao">

	<!--根据id查询 -->
	<select id="getSubjectById" parameterType="java.lang.String"
		resultType="com.guangde.vo.Subject">
		SELECT *
		FROM TB_SUBJECT T WHERE T.ID=#{sid}
	</select>

	<!--新增 -->
	<insert id="insertSubject" parameterType="com.guangde.vo.Subject">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			SELECT sys_guid() AS id FROM dual
		</selectKey>
		INSERT INTO
		TB_SUBJECT(ID,TITLE,MODULE,STATUS,BROWSE,REPLY,INTEGRAL,CREATEDATE,USERID)
		VALUES(#{id},#{title},#{module},#{status},#{browse},#{reply},#{integral},TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'),#{userid})
	</insert>

	<insert id="insertContent" parameterType="com.guangde.vo.Content">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			SELECT sys_guid() AS id FROM dual
		</selectKey>
		INSERT INTO
		TB_CONTENT(ID,SUB_ID,CONTENT)
		VALUES(#{id},#{subId},#{content})
	</insert>

	<!--编辑 -->
	<update id="updateSubject" parameterType="com.guangde.vo.Subject">
		UPDATE TB_SUBJECT t SET
		T.TITLE=#{title}
		WHERE t.ID =#{id}
	</update>

	<select id="querySubject" parameterType="com.guangde.vo.User">
		SELECT t.*
		FROM
		TB_SUBJECT t
	</select>

   <select id="queryArticleSubList" resultType="com.guangde.dto.ArticleSubDto" parameterType="java.util.HashMap">
   SELECT *
	  FROM (SELECT TEMP.*, ROWNUM ROW_NOW
	          FROM (
	          		SELECT T.ID,
	                       T.TITLE,
	                       T.MODULE,
	                       T.STATUS,
	                       T.REPLY,
	                       T.INTEGRAL,
	                       T.CREATEDATE,
	                       T.USERID,
	                       T.TOP,
	                       T.FINE,
	                       UT.NICKNAME,
	                       UT.VALIDATEINFO,
	                       UT.PATH AS PHOTOPATH
	                  FROM TB_SUBJECT T
	                 INNER JOIN (SELECT U.USERID,
	                                   U.NICKNAME,
	                                   U.VALIDATEINFO,
	                                   F.PATH
	                              FROM TB_USERS U
	                              LEFT JOIN TB_ATTACHMENT F
	                                ON U.USERID = F.RELATIONID
	                               AND F.TYPE = 0) UT
	                    ON T.USERID = UT.USERID
	                 WHERE T.STATUS = 1
	                   AND T.FINE = 1
	                 ORDER BY T.TOP DESC, T.CREATEDATE DESC
	                ) TEMP
	         WHERE ROWNUM <![CDATA[<=]]> #{pageIndex} * #{pageSize})
	   WHERE ROW_NOW <![CDATA[>=]]>  (#{pageIndex} - 1) * #{pageSize} + 1
	</select>
</mapper>